UVICORN_WORKERS=2
EXECUTOR_WORKERS=10
DB_INIT_RETRIES=60
DB_INIT_DELAY=2.0
DB_HOST=mysql
DB_PORT=3306
DB_USER=rest
DB_PASSWORD=your-key-here
DB_NAME=rest_executor
API_KEYS=your-key-here
RUN_LOCAL=0
COMPARTMENT_ID=your-key-here
SUBNET_ID=your-key-here
BASTION_IP=your-key-here
BASTION_USER=ubuntu
BASTION_SSH_KEY=/root/.oci/bastion_private_key
DEFAULT_SHAPE=VM.Standard.E5.Flex
DEFAULT_OCPU=1
DEFAULT_MEMORY_IN_GB=8
DEFAULT_BOOTDISK_IN_GB=1024
MYSQL_ROOT_PASSWORD=your-key-here
MYSQL_DATABASE=rest_executor
MYSQL_USER=rest
MYSQL_PASSWORD=your-key-here
HEARTBEAT_SECONDS=60
DEBUG=1
IMAGE_OCID=your-key-here
